# -*-sh-*-

### Directories
src/.build/*
results/*
src/include/CHEMISTRY/cb05en/*.f

### Binaries
*.o
*.a
*.so
*.os
*.py[cod]
*.mod

### Emacs files
*~
\#*\#
.\#*

### Others
*/.nfs*
*/.sconf_temp
*/.scons.log
*/.sconsign.dblite
unifac.csv
core
ssh-aerosol-*
*old
.gitignore
