# -*-sh-*-

### Directories
src/.build/*
results/*
src/include/CHEMISTRY/cb05en/*.f90

### Binaries
*.o
*.a
*.so
*.os
*.py[cod]
*.mod
src/include/spack/src/LU_generator
src/include/spack/src/find_perm
src/include/spack/src/spack_generator
src/include/spack/src/spack_input

### Emacs files
*~
\#*\#
.\#*

### Others
*/.nfs*
*/.sconf_temp
*/.scons.log
*/.sconsign.dblite
unifac.csv
core
ssh-aerosol-*
*old
.gitignore
graph/*.png
ssh-aerosol
src/include/Talos/talos.py
src/include/Talos/talos_wrap.cc
INIT/fractions.txt
user_manual/user_manual.aux
user_manual/user_manual.log
user_manual/user_manual.out
user_manual/user_manual.toc
