# This file is required by the script 'user_defined_scheme.py'.

[schemes]

toluene = yes
xylene = yes
alpha-pinene = yes
beta-pinene = yes
limonene = yes
isoprene = yes
humulene = yes
poa = yes
benzene = yes
cresol = yes
syringol = yes
guaiacol = yes
naphthalene = yes
methyl-naphthalene = yes


[toluene]

species = ../toluene/h2o/toluene.h2o.species
reactions = ../toluene/h2o/toluene.h2o.nospack.reactions
aerosol_species = ../toluene/h2o/species-list-aer-toluene.dat


[xylene]

species = ../xylene/h2o/xylene.h2o.species
reactions = ../xylene/h2o/xylene.h2o.nospack.reactions
aerosol_species = ../xylene/h2o/species-list-aer-xylene.dat

[alpha-pinene]

species = ../alpha-pinene/h2o/alpha-pinene.h2o.species
reactions = ../alpha-pinene/h2o/alpha-pinene.h2o.nospack.reactions
aerosol_species = ../alpha-pinene/h2o/species-list-aer-api.dat

[beta-pinene]

species = ../beta-pinene/h2o/beta-pinene.h2o.species
reactions = ../beta-pinene/h2o/beta-pinene.h2o.nospack.reactions
aerosol_species = ../beta-pinene/h2o/species-list-aer-bpi.dat

[limonene]

species = ../limonene/h2o/limonene.h2o.species
reactions = ../limonene/h2o/limonene.h2o.nospack.reactions
aerosol_species = ../limonene/h2o/species-list-aer-lim.dat

[isoprene]

species = ../isoprene/h2o/isoprene.h2o.species
reactions = ../isoprene/h2o/isoprene.h2o.nospack.reactions
aerosol_species = ../isoprene/h2o/species-list-aer-iso.dat

[humulene]

species = ../humulene/h2o/humulene.h2o.species
reactions = ../humulene/h2o/humulene.h2o.nospack.reactions
aerosol_species = ../humulene/h2o/species-list-aer-hum.dat

[poa]

species = ../poa/h2o/poa.h2o.species
reactions = ../poa/h2o/poa.h2o.nospack.reactions
aerosol_species = ../poa/h2o/species-list-aer-poa.dat

[benzene]

species = ../benzene/h2o/benzene.h2o.species
reactions = ../benzene/h2o/benzene.h2o.nospack.reactions
aerosol_species = ../benzene/h2o/species-list-aer-ben.dat

[cresol]

species = ../cresol/h2o/cresol.h2o.species
reactions = ../cresol/h2o/cresol.h2o.nospack.reactions
aerosol_species = ../cresol/h2o/species-list-aer-cre.dat

[syringol]

species = ../syringol/h2o/syringol.h2o.species
reactions = ../syringol/h2o/syringol.h2o.nospack.reactions
aerosol_species = ../syringol/h2o/species-list-aer-syr.dat

[guaiacol]

species = ../guaiacol/h2o/guaiacol.h2o.species
reactions = ../guaiacol/h2o/guaiacol.h2o.nospack.reactions
aerosol_species = ../guaiacol/h2o/species-list-aer-gua.dat

[naphthalene]

species = ../naphthalene/h2o/naphthalene.h2o.species
reactions = ../naphthalene/h2o/naphthalene.h2o.nospack.reactions
aerosol_species = ../naphthalene/h2o/species-list-aer-nap.dat

[methyl-naphthalene]

species = ../methyl-naphthalene/h2o/methyl-naphthalene.h2o.species
reactions = ../methyl-naphthalene/h2o/methyl-naphthalene.h2o.nospack.reactions
aerosol_species = ../methyl-naphthalene/h2o/species-list-aer-mna.dat

