# This file is required by the script 'user_defined_scheme.py'.

[schemes]

toluene = yes
xylene = no
alpha-pinene = yes
beta-pinene = yes
limonene = yes
isoprene = no
humulene = yes
poa = yes
benzene = no
cresol = no
syringol = no
guaiacol = no
naphthalene = yes
methyl-naphthalene = no
beta-caryophyllene = no 


[toluene]

species = ../individual_schemes/toluene/h2o/toluene.h2o.species
reactions = ../individual_schemes/toluene/h2o/toluene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/toluene/h2o/species-list-aer-toluene.dat


[xylene]

species = ../individual_schemes/xylene/h2o/xylene.h2o.species
reactions = ../individual_schemes/xylene/h2o/xylene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/xylene/h2o/species-list-aer-xylene.dat

[alpha-pinene]

species = ../individual_schemes/monoterpenes/alpha-pinene/h2o/alpha-pinene.h2o.species
reactions = ../individual_schemes/monoterpenes/alpha-pinene/h2o/alpha-pinene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/monoterpenes/alpha-pinene/h2o-noautox/species-list-aer-api.dat


[beta-pinene]

species = ../individual_schemes/monoterpenes/beta-pinene/h2o/beta-pinene.h2o.species
reactions = ../individual_schemes/monoterpenes/beta-pinene/h2o/beta-pinene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/monoterpenes/beta-pinene/h2o/species-list-aer-bpi.dat

[limonene]

species = ../individual_schemes/monoterpenes/limonene/h2o/limonene.h2o.species
reactions = ../individual_schemes/monoterpenes/limonene/h2o/limonene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/monoterpenes/limonene/h2o/species-list-aer-lim.dat

[isoprene]

species = ../individual_schemes/isoprene/h2o/isoprene.h2o.species
reactions = ../individual_schemes/isoprene/h2o/isoprene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/isoprene/h2o/species-list-aer-iso.dat

[humulene]

species = ../individual_schemes/humulene/h2o/humulene.h2o.species
reactions = ../individual_schemes/humulene/h2o/humulene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/humulene/h2o/species-list-aer-hum.dat

[poa]

species = ../individual_schemes/poa/h2o/poa.h2o.species
reactions = ../individual_schemes/poa/h2o/poa.h2o.nospack.reactions
aerosol_species = ../individual_schemes/poa/h2o/species-list-aer-poa.dat

[benzene]

species = ../individual_schemes/benzene/h2o/benzene.h2o.species
reactions = ../individual_schemes/benzene/h2o/benzene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/benzene/h2o/species-list-aer-ben.dat

[cresol]

species = ../individual_schemes/cresol/h2o/cresol.h2o.species
reactions = ../individual_schemes/cresol/h2o/cresol.h2o.nospack.reactions
aerosol_species = ../individual_schemes/cresol/h2o/species-list-aer-cre.dat

[syringol]

species = ../individual_schemes/syringol/h2o/syringol.h2o.species
reactions = ../individual_schemes/syringol/h2o/syringol.h2o.nospack.reactions
aerosol_species = ../individual_schemes/syringol/h2o/species-list-aer-syr.dat

[guaiacol]

species = ../individual_schemes/guaiacol/h2o/guaiacol.h2o.species
reactions = ../individual_schemes/guaiacol/h2o/guaiacol.h2o.nospack.reactions
aerosol_species = ../individual_schemes/guaiacol/h2o/species-list-aer-gua.dat

[naphthalene]

species = ../individual_schemes/naphthalene/h2o/naphthalene.h2o.species
reactions = ../individual_schemes/naphthalene/h2o/naphthalene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/naphthalene/h2o/species-list-aer-nap.dat

[methyl-naphthalene]

species = ../individual_schemes/methyl-naphthalene/h2o/methyl-naphthalene.h2o.species
reactions = ../individual_schemes/methyl-naphthalene/h2o/methyl-naphthalene.h2o.nospack.reactions
aerosol_species = ../individual_schemes/methyl-naphthalene/h2o/species-list-aer-mna.dat

[beta-caryophyllene]

species = ../individual_schemes/beta-caryophyllene/Ref_SQT/Ref_SQT.species
reactions = ../individual_schemes/beta-caryophyllene/Ref_SQT/Ref_SQT.reactions
aerosol_species = ../individual_schemes/beta-caryophyllene/Ref_SQT/species-list-aer-Ref_SQT.dat
ro2_reactions = ../individual_schemes/beta-caryophyllene/Ref_SQT/Ref_SQT.RO2

